
    body {
      font-family: 'Montserrat', sans-serif;
    }
    .container {
      width: 90%;
      margin: 0 auto;
      padding: .5em;
    }

    header {
      padding: .5em;
      font-family: 'Permanent Marker', cursive;
    }