
    body {
      font-family: 'Montserrat', sans-serif;
      /* color: red;
      background-color: pink;
      padding-top: 10px; */
    }
    .container {
      width: 90%;
      margin: 0 auto;
      padding: .5em;
    }

    header {
      padding: .5em;
      font-family: 'Permanent Marker', cursive;
    }

    .border {
      border: 10px solid goldenrod;
    }

    .logo {
      width: 250px;
      height: 250px;
    }